*{
    box-sizing: border-box;
    padding: 0px;
}

.baseNavBar{
    background-color: darkblue;
    height: 10vh;
    width: 100vw;
    min-width: 500px;
    line-height: 30px;
}

.baseNavBarContent{
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.baseNavBarLink{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.baseToggleThemeButton{
    margin-right: 20px;
    background-color: white;
    border: 1px solid gray;
}

.dark{
    background-color: darkred;
    color: white;
}

