*{
    box-sizing: border-box;
    padding: 0px;
}

.baseNavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    height: 100px;
    width: 100vw;
    min-width: 500px;
    line-height: 30px;
}

.baseNavBarContent{
    font-size: 20px;
    height: 100px;
    width: 50%;
    min-width: 450px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.baseNavBarLink{
    color: white;
    text-decoration: none;
}

.baseToggleThemeButton{
    color: white;
    background-color: gray;
    border: 2px solid black;
}

.logo{
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.dark{
    background-color: darkred;
    color: white;
}

