@import '../globalStyles//cssVars.css';

*{
    box-sizing: border-box;
    padding: 0px; 
}

.basePost{
    background-color: royalblue;
    width: 500px;
    min-width: 500px;
    border-radius: 1%;
    border: 2px skyblue solid;
}

.basePostContent{
    margin: 10px;
    color: white;
    line-height: 50px;
}

.basePostDate{
    color:white;
    text-align: right;
    margin: 30px;
}

.basePostLink{
    color: darkmagenta;
    font-weight: bold;
    text-decoration: none;
}

.dark{
    background-color: black;
    color: white;
}

