@import '../globalStyles//cssVars.css';

*{
    box-sizing: border-box;
    padding: 0px; 
}

.basePost{
    background-color: royalblue;
    height: 30vh;
    width: 100vw;
}

.basePostContent{
    margin: 10px;
    color: white;
    line-height: 50px;
}

.basePostDate{
    color:white;
    text-align: right;
    margin: 30px;
}

.basePostLink{
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

.dark{
    background-color: black;
    color: white;
}

