*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.baseUser{
    background-color: royalblue;
    height: 100vh;
    width: 100vw;
}

.baseUserContent{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
