*{
    box-sizing: border-box;
    margin: 0px;
}

.baseNPC{
    background-color: royalblue;
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.baseNPCForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;

}
.baseNPCHeader{
    color: darkmagenta;
    margin-bottom: 100px;
}
.baseNPCLabel{
    color: darkblue;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.baseNPCInput{
    height: 200px;
    margin-top: 10px;
    display: block;
    min-width: 500px;
    border-radius: 0 20px 0 0;
    padding: 10px;
}

.baseNPCButton{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    width: 20%;
    display: block;
    border: 1.5px black solid;
}

.dark{
    background-color: #ee3e38;
    color: white;
}

.dark .baseNPCHeader{
    color: darkred;
}
.dark .baseNPCInput{
    background-color: white;
    color: black;
}
.dark .baseNPCButton{
    color: black;
    background-color: white;
}